{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>



   {% comment %} nav {% endcomment %}
    
   <nav class="navbar navbar-expand-lg bg-body-tertiary d-none d-lg-block">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="/static/images/logo_ptit.png" alt="" style="width: 30px;">
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
                        {% comment %} <a class="nav-link active" aria-current="page" href="{% url 'welcome' %}">Home</a> {% endcomment %}
                    {% comment %} {% else %} {% endcomment %}
                        {% comment %} <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a> {% endcomment %}
                    {% comment %} {% endif %} {% endcomment %}
                </li>
                {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
                    {% comment %} <li class="nav-item"></li>
                    <a class="nav-link" href="./all-quiz.html">Assignment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Exam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history.html">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' request.user.username %}">Profile</a>
                    </li>
                    <li class="nav-item"></li>
                        <a class="nav-link" href="/report.html">Report</a> {% endcomment %}
                    </li> 
                {% comment %} {% endif %} {% endcomment %}
            </ul>
            {% comment %} {% if request.user.is_authenticated %}
                
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            {% endif %} {% endcomment %}

            {% comment %} {% if request.user.is_authenticated %}
                <a href="{% url 'profile' request.user.username %}" class="ms-5">
                <img src="{{request.user.profile.profile_img.url}}" class="rounded-circle" width="40" height="40" alt="profile_img" style="border: 2px solid #000;">
                </a>
            {% endif %} {% endcomment %}
            
        </div>
    </div>
</nav>

    {% comment %} nav {% endcomment %}
    <div class="container text-center my-5">
        <h1 class="display-5 fw-bold my-2">Welcome to PTIT</h1>
        <p class="fs-3">Not just make your ranking in college but also in knowledge</p>
        <div class="d-inline-flex gap-2 mb-5">
            <a href="{% url 'login' %}" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4">
                Login
            </a>
            <a href="{% url 'register' %}" class="btn btn-outline-secondary btn-lg px-4" type="button">
                Sign up
            </a>
        </div>
    </div>

    <div class="container text-center">
       


        <!-- SLIDE -->
        
        
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">


            

                <!--  START SLIDE LOGO PTIT -->
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="static/images/logo_ptit.png" alt="Logo PTIT" />
                </div>
                <div class="slide">
                    <img src="static/images/logo_ptit.png" alt="Logo PTIT" />
                </div>
                <div class="slide">
                    <img src="static/images/logo_ptit.png" alt="Logo PTIT" />
                </div>
                <div class="slide">
                    <img src="static/images/logo_ptit.png" alt="Logo PTIT" />
                </div>
                <div class="slide">
                    <img src="static/images/logo_ptit.png" alt="Logo PTIT" />
                </div>
                <div class="slide">
                    <img src="static/images/logo_ptit.png" alt="Logo PTIT" />
                </div>
                <div class="slide">
                    <img src="static/images/logo_ptit.png" alt="Logo PTIT" />
                </div>
                <div class="slide">
                    <img src="static/images/logo_ptit.png" alt="Logo PTIT" />
                </div>
                <div class="slide">
                    <img src="static/images/logo_ptit.png" alt="Logo PTIT" />
                </div>
                <div class="slide">
                    <img src="static/images/logo_ptit.png" alt="Logo PTIT" />
                </div>
                <div class="slide">
                    <img src="static/images/logo_ptit.png" alt="Logo PTIT" />
                </div>
                <div class="slide">
                    <img src="static/images/logo_ptit.png" alt="Logo PTIT" />
                </div>
                <div class="slide">
                    <img src="static/images/logo_ptit.png" alt="Logo PTIT" />
                </div>
                <div class="slide">
                    <img src="static/images/logo_ptit.png" alt="Logo PTIT" />
                </div>
            </div>
        </div>
        
    <!-- END SLIDE LOGO PTIT -->

            <p class="text-center text-body-secondary">
                <br>
                © 2024, D22-DSP Lab PTIT</p>
        </footer>
</body>
    
</html>